body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header img {
  height: 50px;
  width: auto;
  margin: auto 10px;
}

nav span {
  text-decoration: underline;
  display: inline-block;
  padding: 20px 10px;
}

nav span a {
  color:  seashell;
}
