body { /* global property */
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  display: flex;
  /* justify-content: center;*/ /*delete */
  align-items: center;
  flex-direction: column;
}

header { /* block 1 header property */
  top: 0;
  left: 0;
  position: fixed;
  height: 69px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid seashell;
  z-index: 2;
  background-color: black;
}

header img { /* block 1 logo property */
  height: 50px;
  width: auto;
  margin: auto 10px;
}

nav span { /* block 1 navigation property */
  text-decoration: underline;
  display: inline-block;
  padding: 20px 10px;
}

nav span a { /* block 1 anchor property */
  color:  seashell;
}

.mission { /* block 2 main property */
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin-top: 69px;
  display: flex;
  align-items: center;
}

.mission-text { /* block 2 content property */
  background-color: black;
  width: 1200px;

}

h2, h3, h4 { /* block 2 and 3 header property */
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.tea-of-the-month { /* block 3 main conteiner proprty */
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  display: flex;
  justify-content: center; /* alignment main axis */
  flex-direction: column;
}

.tea-of-the-month-header { /* block 3 header */
  width: 1000px;
}

.img-content { /* block 3 img conteiner with text */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  padding: 5px;
}

.img-content img { /* block 3 img property */
  height: 200px;
  width: 300px;
  margin: 15px;
}

.img-content span { /* blovk 3 text under img property */
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

#locations { /* block 4 main conteiner proprty */
  height: 500px;
  width: 1200px;
  margin-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.specific { /* block 4 conteiner for header and tree black text-block */
  display: inline-flex;
/*  margin: auto; */ /* delete */
  width: 1100px;
  padding-top: 5px;
  flex-wrap: wrap;
}

.info { /* block 4 tree black text-block property */
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  text-align: center;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
